html {
    height: 100%;
}

body {
    background-image: linear-gradient(#FC5E55 ,#FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;    
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

.navbutton {
    color: white;
    text-decoration: none;
    border-color: White;
    border-width: 1px;
    border-style: solid;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    padding: 11px 25px;      
}

.mybutton {
    background-color: white;
    color:#FA4083;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    padding: 11px 25px;
    border-radius: 6px 12px 18px 24px;
    box-shadow: 0px 3px 2px rgb(146, 100, 100);
}

nav a.mybutton {
    margin-left: 30px;
}

main {    
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {    
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px rgb(155, 131, 131);
}


.herobox1 {    
    flex: 2;
    padding-right: 100px;
}

.herobox2 {    
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px rgb(199, 157, 157);
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;

}

.cards a {
    color: white;
    text-decoration: none;
}

p {
    line-height: 1.5rem;
    margin-bottom: .5rem;
}

.cards p {
    font-size: .85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.514);
    padding-top: 30px;
}