body {
    background-image: linear-gradient(#C8E400,#FFFA00);
}

.container {
    width: 1024px;    
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

nav {
    
}

main {    
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: rgb(14, 231, 83);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(187, 45, 180);
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(155, 39, 149);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(100, 21, 96);
    min-height: 300px;
    width: 30%;
}


.herobox1 {    
    flex: 2;
}

.herobox2 {    
    flex: 1;
}