.navbutton {
    background-color: lawngreen;
    width: 100px;
    text-align: center;
    display: inline-block;
    position: relative;

}

/* By default, we want the drop-down menu hidden. */
.dropdown-box {
    display: none;
    position: absolute;
    padding-top: 20px;
    /* margin-left: -30; */
    
}

.navbutton:hover .dropdown-box {
    display: block;
}

.dropdown-box .navbutton {
    background-color: aqua;
}

.dropdown-box .navbutton:hover {
    background-color: magenta;
    transition-duration: 250ms;
}