
/* Global View aka Desktop View */
body {
    margin: 0;
}

.container {
    background-color: rgb(43, 226, 147);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-size: 100px;
}


.col {
    background-color: rgb(252, 10, 123);
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}


.hideForGlobalView {
    display: none;
}


/* Tablet View */
@media (max-width: 768px){
    .col {
        width: 45%;

    }
    
    .hideForGlobalView {
        display: block;
    }

}


/* Mobile View */
@media (max-width: 400px){
    .col {
        width: 100%;
        
    }

    .hideForMobile {
        display: none;
    }

}